# Jupyter
**/.ipynb_checkpoints/

# Python
__pycache__/
*.pyc

# Virtualenv
.venv/
venv/
env/

# Env files (secrets/config)
.env

# Données (brutes, DVC) 
data/**
# les fichiers .dvc ne doivent pas être ignorés :
!data/**/*.dvc

# DVC local cache (optionnel, souvent auto)
.dvc/cache/

# Logs & caches
*.log
.cache/

# OS
.DS_Store
Thumbs.db